<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= unescape(ptitle) %> | <%= unescape(brand.name) %></title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" rel="stylesheet" href="/dist/css/bootstrap.min.css">

    <!-- jQuery UI Layout Styles -->
    <link type="text/css" rel="stylesheet" href="/dist/css/layout-default-styles.css">

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="/dist/css/editor-styles.css" >

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="col align-items-end" style="height: 100vh;" id="sidebar-wrapper">

            <div class="col">
                <div data-toggle="tooltip" data-placement="right" title="<%= brand.name %>" style="cursor: default;"><%= brand.name %></div>
                <a href="/profile" class="bg-light">Profile</a>
            </div>


            <div id="chatroom-container" class="">
                <div id="chatroom-parent" class="col" style="max-height: 80vh; overflow-y:scroll">

                </div>
            </div>

            <div class="align-self-end" style="bottom: 0">
                <div class="form-group">
                    <input type="text" class="form-control" id="chatroom-chatbox" placeholder="Send message...">
                </div>
                <button id="chatroom-submit" type="button" class="btn btn-primary">Primary</button>
            </div>

        </div>


        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

                <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

                <button class="navbar-toggler float-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <span id="project_title" class="user-select-none" role="button"><%= unescape(ptitle) %></span>
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="navbar-brand" id="user-presence">
                        </li>
                        <li class="nav-item" style="margin-left:4px;">
                            <button type="button" class="btn btn-info ml-auto" onclick="editor.compileLaTeX(true)">Compile</button>
                        </li>
                        <li class="nav-item" style="margin-left:4px;">
                            <button type="button" class="btn btn-info ml-auto" onclick="window.location='./settings'">Project Settings</button>
                        </li>
                        <li class="nav-item" style="margin-left:4px;">
                            <button type="button" class="btn btn-info ml-auto" onclick="window.location='/projects'">My Projects</button>
                        </li>
                    </ul>
                </div>
            </nav>

            <div id="editor-container" class="container-fluid" style="padding:0px; margin:0px; height:calc(100% - 57px);">
                <div class="ui-layout-center border-width-right no-padding" style="width: 500px;height:500px;" id="editor-parent">
                    <div id="editor-left"></div>
                </div>

                <div id="pdf-viewer-parent" class="ui-layout-east border-width-left no-padding">
                    <iframe id="pdf-viewer" width="100%" height="100%" frameBorder="0" src=""></iframe>
                </div><!-- -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% if ((pdata || pdata=="" ) && pid) { %>
    <!-- Project Data -->
    <script>
        var pid = unescape(`<%= pid %>`);
        var pdata = unescape(`<%= pdata %>`);
        var bname = '<%= brand.name %>';
    </script>
    <% } %>

    <!-- Editor Bundle -->
    <script type="text/javascript" src="/dist/js/editor/editor.bundle.js"></script>

</body>

</html>
