    <!-- Delete Project Modal -->
    <div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="deleteProjectModalLabel">Permanently Delete Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <span class="text-danger">
                  You are about to permanently delete your project.<br>
                  This action cannot be undone.<br><br>
              </span>
              <span>Please enter your project title below to verify.<br><br></span>
              <span class="font-weight-bold font-italic text-dark"><%= unescape(ptitle) %></span>
              <form class="form-inline" onsubmit="return false;">
                  <input id="delete_project_title" class="form-control mr-sm-2 w-100" type="search" placeholder="Enter project title here" aria-label="Search">
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" onclick="attemptDelete()">Delete Project</button>
          </div>
      </div>
      </div>
  </div>
  <div class="container">
      <div class="py-5 text-center">
          <h2>Project Settings</h2>
          <p class="lead"><%= unescape(ptitle) %></p>
          <a class="btn btn-outline-secondary" href='./edit'>Edit Project</a>
          <a class="btn btn-outline-secondary" href='./view'>View Project</a>
      </div>

      <div class="rounded shadow p-3 mb-5 bg-white">
          <div class="row">
              <div class="col">
                  <h4>Access</h4>
                  <span>Owner: <%= powner %></span>
                  <% if (pisowner) { %>
                      <span class="badge badge-pill badge-secondary">you!</span>
                  <% } %>
                  <br><br>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <select class="custom-select border-right-0 rounded-left" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" id="addUserRoleSelect">
                              <option selected>Role</option>
                              <option value="collaborator">Collaborator</option>
                              <option value="viewer">Viewer</option>
                          </select>
                      </div>
                      <input id="addUserUsername" type="text" class="form-control" placeholder='email.address@<%= brand.email.domain %>'>
                      <div class="input-group-append">
                          <button class="btn btn-primary" type="button" onclick="addUser()">Share</button>
                      </div>
                  </div>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col border-right mx-auto">
                  <div class="row">
                      <div class="col">
                          <h5>Collaborators</h5>
                      </div>
                  </div>
                  <% pcollaborators.forEach((collaborator) => {
                      let row_uuid = uuid.v4(); %>
                  <div class="row" id="<%= row_uuid %>" user="<%= collaborator %>">
                      <div class="col">
                          <span>
                              <button type="button" class="close float-left" aria-label="Close" onclick="removeUser('<%= row_uuid %>', '<%= collaborator %>', 'collaborator')">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </span>
                          <span>
                              &nbsp;<%= collaborator %>
                              <% if (puser == collaborator) { %>
                                  <span class="badge badge-pill badge-secondary">you!</span>
                              <% } %>
                          </span>
                      </div>
                  </div>
                  <% }); %>
              </div>
              <div class="col mx-auto">
                  <div class="row">
                      <div class="col">
                          <h5>Viewers</h5>
                      </div>
                  </div>
                  <% pviewers.forEach((viewer) => {
                      let row_uuid = uuid.v4(); %>
                  <div class="row" id="<%= row_uuid %>" user="<%= viewer %>">
                      <div class="col">
                          <span>
                              <button type="button" class="close float-left" aria-label="Close" onclick="removeUser('<%= row_uuid %>', '<%= viewer %>', 'viewer')">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </span>
                          <span>
                              &nbsp;<%= viewer %>
                              <% if (puser == viewer) { %>
                                  <span class="badge badge-pill badge-secondary">you!</span>
                              <% } %>
                          </span>
                      </div>
                  </div>
                  <% }); %>
              </div>
          </div>
      </div>
      <% if (pisowner) { %>
      <div class="rounded shadow p-3 mb-5 bg-white">
          <h4>Delete Project</h4>
          <hr>
          <div class="row">
              <div class="col my-auto">
                  Delete this project? This cannot be undone.
              </div>
              <div class="col text-right my-auto">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProjectModal">
                      Delete
                  </button>
              </div>
          </div>
      </div>
      <% } %>
  </div>

  <% if (ptitle) { %>
      <script>
          ptitle = "<%= unescape(ptitle) %>";
      </script>
  <% } %>


  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Project Settings core JavaScript -->
  <script type="text/javascript" src="/dist/js/project-settings.js"></script>
